<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- BOOTSTRAP CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

    <div th:include="empleado/layout.html::encabezado"></div>

    <section>
        <div class="presentation-video">
            <video src="/img/home.mp4" autoplay muted loop></video>
        </div>
        <div class="presentation-content">
            <h1 class="font-h1">VITAPAN</h1>
        </div>
    </section>

    <div>
        <footer class="footer-minimarket-home">
            <div>
                <p>Copyright &copy; vitapan todos los derechos reservados 2024.</p>
            </div>
        </footer>
    </div>

<!-- BOOTSTRAP JAVASCRIPT -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>